body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bowling-game {
  margin-top: 50px;
}

.score-board-header,
.player-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000
}

.player-col,
.header-col {
  display: block;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  border-left: 1px solid #666;
}

.header-col {
  background: #ddd;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
}

.frame-10, .col-10 {
  min-width: 120px;
}


.score-board-header .header-col:first-child {
  border-left: 0;
}

.col-Player,
.col-TotalScore,
.col-PlayerScore {
  min-width: 100px;
}

.col-TotalScore,
.col-PlayerScore,
.col-10 {
  border-right: 1px solid #000
}

.frame-inputs {
  display: flex;
}

.player-col {
  padding: 8px;
}
.player-col .form-group {
  margin-bottom: 34px;
}

.player-col .form-control {
  width: 50%;
  /*border: none;*/
  /*border-left: 1px solid #000;*/
  /*border-bottom: 1px solid #000;*/
  border-radius: 0px;
  /*box-shadow: none;*/
  text-align: center;
  padding: 0px;
}

.player-col .form-control:first-child {
  /*border: 0px;*/
  margin-right: 8px;
}

.player-col.frame-10 .form-control:last-child {
  /*border: 0px;*/
  margin-left: 8px;
}
